<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>BookStore</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- Custom styles for this template -->
  <!-- <link href="carousel.css" rel="stylesheet"> -->

</head>
<!-- NAVBAR
================================================== -->

<body>
  <header>
    <div class="navbar-wrapper">
      <% include ./main/nav %>
    </div>
  </header>

  <h1 class="form-signin-heading" style="margin-left: 4%;"></h1>
  </div>
  <button disabled class="" style="background-color: white;  border:white; color: black; font-size: 250%">주문내역</button>
  <div style="width: 80%; height: 40%; margin-right: 10%; margin-top: 1%; border:black solid thin;">
    <form class="form-signin" method="post" action="/orders/<%=book[0].BookNum%>" >
      <table>
        <tr style="font-size: 150%;">
          <td style="width: 15%;"> 책제목 </td>
          <td style="width: 15%;"> 가격 </td>
          <td style="width: 15%;"> 수량 </td>
          <td style="width: 15%;"> 총 가격 </td>
          <td style="width: 15%;"> 카드선택 </td>
          <td style="width: 15%;"> 배송지선택 </td>
        </tr>
        <tr>
          <td> <%= book[0].BookName %> </td>
          <td> <%= book[0].price %> </td>
          <td> <%= user.bookSum %> </td>
          <td> <%= user.bookSum * book[0].price * user.discount %> </td>
          <% var price = user.bookSum * book[0].price %>
          <input type="hidden" name="totalPrice" id="totalPrice" value="<%= price %>">
          <td>
            <select name="card" id="card">
              <option>---카드선택---</option>
              <% for(var i = 0; i< card.length; i++) { %>
              <option value="<%=card[i].CardNum%>"><%= card[i].CardNum %></option>
              <% } %>
            </select>
          </td>
          <td>
            <select name="address" id="address">
              <option>---배송지선택---</option>
              <% for(var j = 0; j< address.length; j++) { %>
              <option value="<%=address[j].AddressNum%>"><%= address[j].PriAddress +" "+ address[j].DetAddress %>
              </option>
              <% } %>
            </select>
          </td>
          <td>
            <% if(user.userid != null) { %>
            <input type="submit" value="결제" name="결제" style="border: 1px solid white; color: white; background-color: #222222;" class="btn btn-outline-primary"></input>
            <% } else { %>
            <% } %>
          </td>
        </tr>
      </table>
    </form>
  </div>